# Types composés - 26/02 - Correction

## Sommaire

#### [Listes](#listes)
#### [Dictionnaires](#dicts)
#### [Sets](#sets)

<a id="listes"></a>
## Listes

### Manipulation de listes - Correction

Vous trouverez certains éléments de réponses dans le notebook et d'autres sur le net (très facilement).

In [1]:
random = ["foo", 298, True, 98.09, int, "baz", 0]
random

['foo', 298, True, 98.09, int, 'baz', 0]



- Afficher le premier élément de la liste
- Afficher le dernier élément de la liste
- Afficher le 3ème et 4ème éléments de la liste
- Vérifier que "foo" est bien dans la liste random
- Vérifier que 800 n'est pas dans la liste random
- Créer une deuxième liste **stuff** (seulement avec des valeurs numériques) et créer une troisième liste **random_stuff** qui aura le contenu des listes **random** et **stuff**
- Récupérer la longueur de la liste **random_stuff**
- Récupérer le minimum et le max de la liste **stuff**
- Ajouter une nouvelle liste **nested_list** avec au moins 3 éléments à **random_stuff**
- Afficher le 2ème élément de **nested_list** depuis **random_stuff**
- Remplacer "baz" par "bar" dans **random_stuff**
- Supprimer le 5ème élément de **random_stuff**
- Ajouter float au début de la liste **random_stuff**
- Copier la liste **random_stuff** dans une nouvele variable **another_stuff**
- Créer, grâce à une compréhension de liste, une nouvelle liste **three_multiples**, qui contiendra tous les multiples de 3 entre 0 et 100
- Créer deux variables x et y, assignez-leurs les valeurs que vous souhaitez. Utiliser l'unpacking pour échanger leurs valeurs.
- Créer la liste suivante : ["J", "'", "aime ", "le ", "confinement"] et utiliser une méthode string pour transformer la liste en chaîne de caractères

In [2]:
# Afficher le premier élément de la liste
random[0]

'foo'

In [3]:
# Afficher le dernier élément de la liste
random[-1]

0

In [4]:
# Afficher le 3ème et 4ème éléments de la liste
random[2:4]

[True, 98.09]

In [5]:
# Vérifier que "foo" est bien dans la liste random
"foo" in random

True

In [6]:
# Vérifier que 800 n'est pas dans la liste random
800 not in random

True

In [7]:
# Créer une deuxième liste stuff (seulement avec des valeurs numériques)
stuff = [27, 98, 7, 100, 726]

In [8]:
# et créer une troisième liste random_stuff qui aura le contenu des listes random et stuff
random_stuff = random + stuff
random_stuff

['foo', 298, True, 98.09, int, 'baz', 0, 27, 98, 7, 100, 726]

In [9]:
# Récupérer la longueur de la liste random_stuff
len(random_stuff)

12

In [10]:
# Récupérer le minimum et le max de la liste stuff
print(min(stuff), max(stuff))

7 726

In [11]:
# Ajouter une nouvelle liste nested_list avec au moins 3 éléments à random_stuff
nested_list = ["hola", "baj", 678]
random_stuff.append(nested_list)

In [12]:
# nested_list est bien imbriqué dans random_stuff
random_stuff

['foo',
 298,
 True,
 98.09,
 int,
 'baz',
 0,
 27,
 98,
 7,
 100,
 726,
 ['hola', 'baj', 678]]

In [13]:
# Afficher le 2ème élément de nested_list depuis random_stuff
random_stuff[-1][1]

'baj'

In [14]:
# Remplacer "baz" par "bar" dans random_stuff
random_stuff[5] = "bar"
random_stuff

['foo',
 298,
 True,
 98.09,
 int,
 'bar',
 0,
 27,
 98,
 7,
 100,
 726,
 ['hola', 'baj', 678]]

In [15]:
# Supprimer le 5ème élément de random_stuff
random_stuff.pop(4)
# del random_stuff[4] # fonctionne aussi mais ne retourne pas de l'élément supprimé

int

In [24]:
# Ajouter float au début de la liste random_stuff
random_stuff.insert(0, float)
random_stuff

[float,
 'foo',
 298,
 True,
 98.09,
 'bar',
 0,
 27,
 98,
 7,
 100,
 726,
 ['hola', 'baj', 678]]

In [25]:
# Copier la liste random_stuff dans une nouvele variable another_stuff
another_stuff = random_stuff.copy() 
# il s'agit d'une vraie copie si vous faites seulement another_stuff = random_stuff 
# vous copierez seulement le pointer de random_stuff dans another_stuff : les deux variables pointeront vers la même liste

In [26]:
# Créer, grâce à une compréhension de liste, une nouvelle liste three_multiples, 
# qui contiendra tous les multiples de 3 entre 0 et 100
three_multiples = [i for i in range(0, 100) if i % 3 == 0]
three_multiples

[0,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30,
 33,
 36,
 39,
 42,
 45,
 48,
 51,
 54,
 57,
 60,
 63,
 66,
 69,
 72,
 75,
 78,
 81,
 84,
 87,
 90,
 93,
 96,
 99]

In [28]:
# Créer deux variables x et y, assignez-leurs les valeurs que vous souhaitez. 
# Utiliser l'unpacking pour échanger leurs valeurs.

x = 100
y = "hello"

y, x = x, y
print(x, y)

hello 100

In [30]:
# Créer la liste suivante : ["J", "'", "aime ", "le ", "confinement"] et utiliser une méthode string pour 
# transformer la liste en chaîne de caractères
phrase = ["J", "'", "aime ", "le ", "confinement"]
''.join(phrase)

"J'aime le confinement"

<a id="dicts"></a>
## Dictionnaires

### Manipulation de dictionnaires

Créer le dictionnaire suivant : 

```
dictionnaire = dict([
    ("a", 97),
    ("b", 98), 
    ("foo", "hello"),
    ("courir", False),
    (12, "salut")
])

```

- afficher la valeur associée aux clés **a** et **12**
- Créer un autre dictionnaire **person**, vide. Puis ajoutez-y les éléments pour définir une personne tels que son nom, âge, taille, poids, etc..
- Afficher l'âge contenu dans le dictionnaire **person**.
- Créer le dictionnaire suivant : 

```
{
  "Bourgogne" : "Dijon",
  "Ile de France" : "Paris",
  "Bretagne" : "Brest",
  "Alsace" : "Strasbourg",
  "Ile de France" : "Melun"
}
```

- D'ou vient l'erreur ?
- Afficher le nombre d'élements dans le dictionnaire **person**
- Récupérer seulement les clés de **person**
- Récupérer seulement les valeurs de **person**
- Récupérer les éléments de **person** sous forme de tuples, ex : ("nom", "Patrice"), ("age", 20), etc..
- Retirer le poids de **person**
- Créer un autre dictionnaire **person2**
- Fusionner **person** et **person2**
- Vider le dictionnaire **person**

In [31]:
dictionnaire = dict([
    ("a", 97),
    ("b", 98), 
    ("foo", "hello"),
    ("courir", False),
    (12, "salut")
])

In [32]:
# afficher la valeur associée aux clés a et 12
print(dictionnaire["a"], dictionnaire[12])

97 salut

In [47]:
# Créer un autre dictionnaire person, vide. Puis ajoutez-y les éléments 
# pour définir une personne tels que son nom, âge, taille, poids, etc..
person = {}
person["nom"] = "Paul"
person["age"] = 26
person["taille"] = 180
person["poids"] = 76
person["statut"] = "étudiant"
person

{'nom': 'Paul', 'age': 26, 'taille': 180, 'poids': 76, 'statut': 'étudiant'}

In [48]:
# Afficher l'âge contenu dans le dictionnaire person.
print(person["age"])

26

In [38]:
regions_villes = {
  "Bourgogne" : "Dijon",
  "Ile de France" : "Paris",
  "Bretagne" : "Brest",
  "Alsace" : "Strasbourg",
  "Ile de France" : "Melun"
}

In [39]:
# D'ou vient l'erreur ?
regions_villes

{'Bourgogne': 'Dijon',
 'Ile de France': 'Melun',
 'Bretagne': 'Brest',
 'Alsace': 'Strasbourg'}

>La valeur associée à la clé Ile de France a été remplacée.

In [40]:
# Afficher le nombre d'élements dans le dictionnaire person
len(person)

5

In [49]:
# Récupérer seulement les clés de person
person.keys()

dict_keys(['nom', 'age', 'taille', 'poids', 'statut'])

In [50]:
# Récupérer seulement les valeurs de person
person.values()

dict_values(['Paul', 26, 180, 76, 'étudiant'])

In [51]:
# Récupérer les éléments de person sous forme de tuples
person.items()

dict_items([('nom', 'Paul'), ('age', 26), ('taille', 180), ('poids', 76), ('statut', 'étudiant')])

In [52]:
# Retirer le poids de person
person.pop("poids")
person

{'nom': 'Paul', 'age': 26, 'taille': 180, 'statut': 'étudiant'}

In [53]:
# Créer un autre dictionnaire person2
person2 = {
    "nom" : "Marie",
    "ville" : "Paris",
    "pays" : "France",
    "taille" : 156,
    "poids" : 55,
    "statut" : "salariée"
}

In [54]:
# Fusionner person et person2
person |= person2
person # on s'aperçoit que les clés ont été mises à jour dans person même si la clé "âge" n'est pas présente dans person2

{'nom': 'Marie',
 'age': 26,
 'taille': 156,
 'statut': 'salariée',
 'ville': 'Paris',
 'pays': 'France',
 'poids': 55}

In [55]:
# Vider le dictionnaire person
person.clear()

In [56]:
person

{}

<a id="sets"></a>
## Sets

### Manipulation de sets

N'hésitez pas à chercher sur le net ou entre vous, si vous ne trouvez pas la solution. 

- Créer un nouveau set avec différents types de données
- Afficher ce nouveau set. Que peut-on observer ?
- Afficher le nombre d'éléments
- Vérifier si la chaîne de caractères "foo" est dans ce set
- Créer un autre set avec certains éléments en commun avec le premier set
- Afficher l'intersection entre les deux sets
- Afficher l'union des deux sets
- Afficher la différence entre ces deux sets
- Afficher leur différence symétrique
- Ajouter un élément au premier set
- Créer un troisième set et ajouter son contenu au premier set
- Retirer un élément au troisème set
- Vider le premier set

In [57]:
# Créer un nouveau set avec différents types de données
example_set = set([2, "hello", "foo", True, int])
example_set

{2, int, True, 'foo', 'hello'}

> Afficher ce nouveau set. Que peut-on observer ?

L'ordre des valeurs n'est pas préservé.

In [58]:
# Afficher le nombre d'éléments
len(example_set)

5

In [59]:
# Vérifier si la chaîne de caractères "foo" est dans ce set
"foo" in example_set

True

In [60]:
# Créer un autre set avec certains éléments en commun avec le premier set
another_set = set([928, "chaine", "personne", int, str, 71, True, "hello"])

In [61]:
# Afficher l'intersection entre les deux sets
example_set & another_set

{int, True, 'hello'}

In [62]:
# Afficher l'union entre les deux sets
example_set | another_set

{2, 71, 928, int, str, True, 'chaine', 'foo', 'hello', 'personne'}

In [63]:
# Afficher la différence entre les deux sets
example_set - another_set

{2, 'foo'}

In [64]:
# Afficher la différence symétrique entre les deux sets
example_set ^ another_set

{2, 71, 928, str, 'chaine', 'foo', 'personne'}

In [66]:
# Ajouter un élément au premier set
example_set.add("arbre")
example_set

{2, int, True, 'arbre', 'foo', 'hello'}

In [67]:
# Créer un troisième set et ajouter son contenu au premier set
other_set = set(["parc", "aire", 89, "ballon", False])
example_set |= other_set # l'union nous permet de conserver les valeurs des deux sets
example_set

{2, 89, int, False, True, 'aire', 'arbre', 'ballon', 'foo', 'hello', 'parc'}

In [69]:
# Retirer un élément au troisème set
other_set.remove("parc")
other_set

{89, 'aire', 'ballon'}

In [70]:
# Vider le premier set
other_set.clear()
other_set

set()